/**
 * @name Moon Rabbits Dream About Virtual
 * @description Based in Tsukino Mito Album Presentation
 * @author zuzumi#5335
 * @authorId 437579806616322049
 * @invite PsNtzGeHuW
 * @donate https://www.paypal.me/hurtyoutube
 * @website https://github.com/zuzumi-f/Moon-Rabbits-Dream-About-Virtual
 * @source https://github.com/zuzumi-f/Moon-Rabbits-Dream-About-Virtual/blob/main/release/tsukino-mito.base.css
 * @version 3
*/

/*---------------------------------------------------------------
   Theme Import you can't disable this is the full theme dummy
---------------------------------------------------------------*/
@import url('https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/tsukino-mito-base.css');

/*---------------------------------------------------------------
               Make it look Like Another Window
---------------------------------------------------------------*/
@import url('https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/window-mode.css');

/*---------------------------------------------------------------
                        Custom Settings
---------------------------------------------------------------*/

/* Animate the background */
@import url('https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/background-animation.css');

/* Add transparency for background images */
/* @import url('https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/background-image.css'); */

/* Pop Effect */
@import url("https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/pop.css");

/* Reverse the position of Server list and members */
@import url('https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/reverse.css');

/*------------------------------------------------------
                all the customization
------------------------------------------------------*/
:root {
    /* The text that appear in top, leave it blank ("") if you dont want any */
    --custom-text: "ﮩ٨ـﮩﮩ٨ـ♡ﮩ٨ـﮩﮩ٨ـ";

    /* General Colors */
    --border-color: #3f4a42;
    --drag-gradient1: #738678;
    --drag-gradient2: #738678;
    --name-bg: #4e5c52;

    /* Background Colors & BG Image */
    --bg-gradient1: #738678;
    --bg-gradient2: #738678;
    --bg-gradient3: #738678;
    --bg-image: #4e5c52;
    --opacity: 1; /* Value in numbers from 0 to 1, but there is a limit */
    --bg-blur: 6px; /* Value in px */

    /* HSL(Hue, Saturation, Lightness). This values will change the accent color (That blue color in most buttons) */
    --H: 339; /* Value in numbers [339 is default] */
    --S: 97%; /* Value in % [97% is default] */
    --L: 71%; /* Value in % [71% is default] */

    /* HSL DarkTheme */
    --darkH: 0;     /* Value in numbers [0 is default] */
    --darkS: 0%;    /* Value in % [0% is default] */
    --darkL: 16%;   /* Value in % [16% is default] */

    /* Windows Buttons Colors */
    --close-color: #eb9bc5;
    --max-color: #8adb94;
    --min-color: #d9db8a;

    /* Status Colors */
    --online-color: #8adb94;
    --idle-color: #d9db8a;
    --dnd-color: #eb9bc5;
    --offline-color: #737372;
    --streaming-color: #80a2bf;

    /* Chatbar Colors */
    --channeltextarea-background: #F0F2F2;
    --text-color: #4e5c52;
    --icon-color: #4e5c52;
    --selected-text-bg: #4e5c52;
    --selected-text-color: #4e5c52;
    --mentioned-color: #4e5c52;

    /* Other options */
    --border-width: 3px;
    --round-corners: 16px;
}

/* Selection text color */
::selection {
    background-color: var(#738678;); /* text selection*/
    color: var(#738678;); /* text color */
}

/*------------------------------------------------------
                anything else down here
------------------------------------------------------*/
